doctype html
html
	head
		meta(charset="utf-8")
		meta(name="format-detection", content="telephone=no")
		// WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 --
		meta(name="viewport",content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi")
		title Lemonade Startup

		meta(property="og:type", content="website")
		meta(property="og:url", content="http://lemonstartup.com")
		meta(property="og:site_name", content="Lemonade Startup")
		meta(property="og:image", content="http://lemonstartup.com/img/cover-image.png")
		meta(property="og:title", content="Lemonade Startup")
		meta(property="og:description", content="It's time to turn this lemonade stand into a lemonade startup!")

		meta(name="twitter:card",content="summary")
		meta(name="twitter:creator", content="@kylnew")
		meta(name="twitter:url", content="http://lemonstartup.com")
		meta(name="twitter:title", content="Lemonade Startup")
		meta(name="twitter:description", content="It's time to turn this lemonade stand into a lemonade startup!")
		meta(name="twitter:image", content="http://lemonstartup.com/img/cover-image.png")

		link(rel="stylesheet", type="text/css", href="css/style.css")
		link(rel="stylesheet", type="text/css", href="css/hotkeys.min.css")

	body
		div#app
			div.intro-view.view-container(v-if="currentView == 'intro'")
				h1.intro-title
					span.lemon-drop.oi(data-glyph="droplet")
					br
					| 1 Lemonade Stand
					br
					br
					| $50 Life Savings
					br
					br
					| Time to bootstrap this baby
					br
					| into a Lemonade Startup
				button.game-start(v-on:click="newGame()")
					span.title.oi(data-glyph="check") &nbsp;Let's Get Agile

			div.end-view.view-container(v-if="currentView == 'end'")
				div.ending
					h2.end-title {{ending.name}}
					span.oi.ending-icon(v-bind:data-glyph="ending.icon")
					p.ending-description {{ending.description}}
					div.cash
						h3.cash-title(v-bind:class="cashValuePositiveClass")
							span.title Final Cash
						strong.cash-value(v-bind:class="cashValuePositiveClass") {{game.stats.cash}}
						h3.cash-title(v-bind:class="projectedValuePositiveClass")
							span.title Final Valuation
						strong.cash-value(v-bind:class="projectedValuePositiveClass") {{game.stats.projectedValue}}

					h3.end-title Game Over

					button.game-start(v-on:click="restart()")
						span.title.oi(data-glyph="reload") &nbsp;Restart

			div.main-view.view-container(v-if="currentView == 'main'")
				div.tasks-column
					h1.main-title.oi(data-glyph="droplet")
						br
						span.title Lemonade
							br
							| Startup
					div.jobs
						h3.sub-title.oi(data-glyph="briefcase")
							br
							span.title Tasks
						ls-job(v-for="task in tasks", v-bind:task="task")
				div.forecast
					h3.sub-title.oi(data-glyph="dashboard")
						br
						span.title 3-Day Forecast
					div.weather-conditions
						div.weather-condition(v-for="(weather, index) in forecast")
							span.title.oi(v-bind:data-glyph="weather.icon") {{weather.description}}

				div.main-column
					div.credits
						a(href="https://twitter.com/share", class="twitter-share-button", data-lang="en") Tweet
						p.developed-by Made by&nbsp;
							a.credit(target="_blank", href="http://twitter.com/kylnew") Kyle
							| &nbsp;&amp;&nbsp;
							a.credit(target="_blank", href="http://twitter.com/rlrichard") Rob
							| &nbsp;at&nbsp;
							a.credit(target="_blank", href="http://tojam.ca") Toronto Game Jam #9
							| .&nbsp;
							a.credit(target="_blank", href="http://github.com/bitwit/lemonade-startup") Available on Github

					div.price-selector
						h3.price-title
							span.title Price: {{prices[price]}}
						strong.price-mark.low $0
						input.price-input(type="range", v-model="price", min="0", max="9")
						strong.price-mark.high $10
					div.days
						h2.sprint-title
							span.title Sprint &#35;{{sprint}} of {{maxSprints}}
							span.countdown(v-if="countdownProgress > 0") &nbsp;starts in {{countdownProgress/1000}}s
						div.calendar
							ls-day.day(v-for="day in sprintDays", v-bind:day="day")
						div.instructions
							h3 Instructions
							ul.instructions
								li.instruction Select different tasks using their hotkeys (1-6)
								li.instruction Add tasks to the calendar by clicking days or dragging tasks
								li.instruction Adjust the price dial as you please
								li.instruction Pay attention for timely optional events
								li.instruction Watch the weather forecast for hints at daily demand

				div.status-column
					div.cash
						h3.cash-title.oi(v-bind:class="cashValuePositiveClass", data-glyph="dollar")
							br
							span.title Cash
						strong.cash-value(v-bind:class="cashValuePositiveClass") {{game.stats.cash}}
						h3.cash-title.oi(data-glyph="question-mark", v-bind:class="projectedValuePositiveClass")
							br
							span.title Valuation
						strong.cash-value(v-bind:class="projectedValuePositiveClass") {{game.stats.projectedValue}}

					div.assets
						h2.section-title.oi(data-glyph="spreadsheet")
							br
							span.title Assets
						div.assets-container
							ls-asset(v-for="(asset, index) in game.assets", v-bind:asset="asset")

						//h3 Options
							div.debug-buttons(v-bind:style="text-align: center;")
								label Tick Speed
								input(type="text",v-model="tickSpeed")
								label Countdown Progress
								input(type="text",v-model="countdownProgress")
								button.hotkey(v-on:click="startSimulation()")
									span Start Simulation
								button.hotkey(v-on:click="autoPopulateDays()")
									span Auto Populate
							h3 Debug
							dl
								dt Development
								dd {{game.stats.development}}
								dt Design
								dd {{game.stats.design}}
								dt Marketing
								dd {{game.stats.marketing}}
								dt Research
								dd {{game.stats.research}}
								dt Sales
								dd {{game.stats.sales}}
								dt Fundraising
								dd {{game.stats.fundraising}}
								dt Productivity
								dd {{game.stats.productivity}}

				div.announcements(v-if="announcements.length > 0")
					ls-announcement(v-for="event in announcements", v-bind:event="event")

	script(src='js/vendor/vue/vue.js')
	//- script(src='js/vendor/vue/vue.min.js')
	script(src='js/vendor/vue/vuex.min.js')

	script(src='js/index.js')

	script
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");