doctype html
html
	head
		meta(charset="utf-8")
		meta(name="format-detection", content="telephone=no")
		// WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 --
		meta(name="viewport",content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi")
		link(rel="stylesheet", type="text/css", href="css/style.css")
		link(rel="stylesheet", type="text/css", href="css/hotkeys.min.css")
		title Lemonade Startup
	body(id="document-body", ng-controller="RootController")
		div.views(ng-switch="", on="currentView")
			div.intro-view.view-container.ng-cloak(ng-controller="IntroController", ng-switch-when="intro")
				h1.intro-title
					span.lemon-drop.oi(data-glyph="droplet")
					br
					| 1 Lemonade Stand
					br
					br
					| $50 Life Savings
					br
					br
					| Time to bootstrap this baby
					br
					| into a Lemonade Startup
				button.game-start(ng-click="switchView('main')")
					span.title.oi(data-glyph="check") &nbsp;Let's Get Agile

			div.end-view.view-container.ng-cloak(ng-switch-when="end")
				div.ending
					h2.end-title {{ending.name}}
					span.oi.ending-icon(data-glyph="{{ending.icon}}")
					p.ending-description {{ending.description}}
					div.cash
						h3.cash-title(class="positive-{{game.stats.cash > 0}}")
							span.title Final Cash
						strong.cash-value(class="positive-{{game.stats.cash > 0}}") {{game.stats.cash | currency}}
						h3.cash-title(class="positive-{{game.stats.projectedValue > 0}}")
							span.title Final Valuation
						strong.cash-value(class="positive-{{game.stats.projectedValue > 0}}") {{game.stats.projectedValue| currency}}

					h3.end-title Game Over

					button.game-start(ng-click="restart()")
						span.title.oi(data-glyph="reload") &nbsp;Restart

			div.main-view.view-container.ng-cloak(ng-controller="MainController", ng-switch-when="main")
				div.tasks-column
					h1.main-title.oi(data-glyph="droplet")
						br
						span.title Lemonade
							br
							| Startup
					div.jobs(ng-model="tasks", data-jqyoui-options="taskListOptions", jqyoui-droppable="{multiple:true}")
						h3.sub-title.oi(data-glyph="briefcase")
							br
							span.title Tasks
						div(ng-repeat="task in tasks", ls-job)
					div.forecast
						h3.sub-title.oi(data-glyph="dashboard")
							br
							span.title 3-Day Forecast
						div.weather-conditions
							div.weather-condition(ng-repeat="weather in forecast track by $index", style="top: {{$index * 24}}px;")
								span.title.oi(data-glyph="{{weather.icon}}") {{weather.description}}

				div.main-column
					div.credits
						p.developed-by Made by&nbsp;
							a.credit(target="_blank", href="http://twitter.com/kylnew") Kyle
							| &nbsp;&amp;&nbsp;
							a.credit(target="_blank", href="http://twitter.com/rlrichard") Rob
							| &nbsp;at&nbsp;
							a.credit(target="_blank", href="http://tojam.ca") Toronto Game Jam #9
							| .&nbsp;
							a.credit(target="_blank", href="http://github.com/bitwit/lemonade-startup") Available on Github
					div.price-selector
						h3.price-title
							span.title Price: {{prices[price] | currency}}
						strong.price-mark.low $0
						input.price-input(type="range", ng-model="price", min="0", max="9")
						strong.price-mark.high $10
					div.days
						h2.sprint-title
							span.title Sprint &#35;{{sprint}} of {{maxSprints}}
							span.countdown(ng-if="countdownProgress > 0") &nbsp;starts in {{countdownProgress/1000 | number:2}}s
						div.calendar
							div.day(ng-repeat="day in sprintDays", ls-day)
						div.instructions
							h3 Instructions
							ul.instructions
								li.instruction Select different tasks using their hotkeys (1-6)
								li.instruction Add tasks to the calendar by clicking days or dragging tasks
								li.instruction Adjust the price dial as you please
								li.instruction Pay attention for timely optional events
								li.instruction Watch the weather forecast for hints at daily demand

				div.status-column
					div.cash
						h3.cash-title.oi(class="positive-{{game.stats.cash > 0}}", data-glyph="dollar")
							br
							span.title Cash
						strong.cash-value(class="positive-{{game.stats.cash > 0}}") {{game.stats.cash | currency}}
						h3.cash-title.oi(data-glyph="question-mark", class="positive-{{game.stats.projectedValue > 0}}")
							br
							span.title Valuation
						strong.cash-value(class="positive-{{game.stats.projectedValue > 0}}") {{game.stats.projectedValue| currency}}

					div.assets
						h2.section-title.oi(data-glyph="spreadsheet")
							br
							span.title Assets
						div.assets-container
							div.asset(class="type-{{asset.id}}", ng-repeat="asset in game.assets", style="top: {{$index * 40}}px;")
								span.title.oi(data-glyph="{{asset.icon}}") &nbsp;{{asset.name}}
								span.expiry(ng-if="asset.expiry > 0") {{asset.expiry}}

						//h3 Options
							div.debug-buttons(style="text-align: center;")
								label Tick Speed
								input(type="text",ng-model="tickSpeed")
								label Countdown Progress
								input(type="text",ng-model="countdownProgress")
								button.hotkey(ng-click="startSimulation()")
									span Start Simulation
								button.hotkey(ng-click="autoPopulateDays()")
									span Auto Populate
							h3 Debug
							dl
								dt Development
								dd {{game.stats.development}}
								dt Design
								dd {{game.stats.design}}
								dt Marketing
								dd {{game.stats.marketing}}
								dt Research
								dd {{game.stats.research}}
								dt Sales
								dd {{game.stats.sales}}
								dt Fundraising
								dd {{game.stats.fundraising}}
								dt Productivity
								dd {{game.stats.productivity}}

				div.announcements(class="displaying-{{announcements.length > 0}}")
					div.announcement(class="type-{{event.id}}", ng-repeat="event in announcements")
						h2.event-title(class="type-{{event.id}}")
							span.title {{event.name}}
						div.oi(data-glyph="{{event.icon}}")
						p.description {{event.description}}
						button.accept(class="type-{{event.id}}", ng-click="acceptEvent()")
							span.title.oi(data-glyph="check") {{event.acceptText}}
							br
							span.hotkey-button space
						button.reject(class="type-{{event.id}}", ng-click="rejectEvent()")
							span.title.oi(data-glyph="x") {{event.rejectText}}
							br
							span.hotkey-button esc

		script(src='js/vendor/jquery/jquery.min.js')
		script(src='js/vendor/jquery/jquery-ui.min.js')
		script(src='js/vendor/angularjs/angular.min.js')
		script(src='js/vendor/angularjs/angular-route.min.js')
		script(src='js/vendor/angularjs/angular-touch.min.js')
		script(src='js/vendor/angularjs/angular-animate.min.js')
		script(src='js/vendor/angularjs/angular-dragdrop.min.js')
		script(src='js/vendor/angularjs/hotkeys.min.js')
		script(src='js/index.js')
		script.
			angular.element(document).ready( function(){
				angular.bootstrap(document, ['appModule']);
			});