doctype html
html
	head
		meta(charset="utf-8")
		meta(name="format-detection", content="telephone=no")
		// WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 --
		meta(name="viewport",content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi")
		link(rel="stylesheet", type="text/css", href="css/style.css")
		link(rel="stylesheet", type="text/css", href="css/hotkeys.min.css")
		title Lemonade Startup
	body(id="document-body", ng-controller="MainController")
		div.views(ng-switch="", on="currentView")
			div.intro-view.view-container.ng-cloak(ng-switch-when="intro")
				h1.intro-title
					span.lemon-drop.oi(data-glyph="droplet")
					br
					| 1 Lemonade Stand
					br
					br
					| $50 Profit
					br
					br
					| Time to bootstrap this baby
					br
					| into a Lemonade Startup
				button.game-start(ng-click="switchView('main')")
					span.title Let's Get Agile

			div.main-view.view-container.ng-cloak(ng-switch-when="main")
				div.tasks-column
					h1.main-title.oi(data-glyph="droplet")
						br
						span.title Lemons
					div.jobs(ng-model="tasks", data-jqyoui-options="taskListOptions", jqyoui-droppable="{multiple:true}")
						h3 Tasks
						div(ng-repeat="task in tasks", ls-job)
						//
							h3 Forecast
							div(ng-repeat="weather in game.forecast track by $index")
								span.title {{weather.description}}

				div.main-column
					div.price-selector
						h3 Price: ${{prices[price]}}
						input.price-input(type="range", name="price", ng-model="price", min="0", max="9")
					div.days
						h2.sprint-title Sprint {{sprint}}
						div.calendar
							div.day(ng-repeat="day in sprintDays", ls-day)

				div.status-column
					h2.section-title.oi(data-glyph="spreadsheet")
						br
						span.title Numbers
					div.assets
						dl.stats
							dt(class="positive-{{game.stats.cash > 0}}") Cash
							dd(class="positive-{{game.stats.cash > 0}}") ${{game.stats.cash | currency:""}}
							dt(class="positive-{{game.stats.projectedValue > 0}}") Company Value
							dd(class="positive-{{game.stats.projectedValue > 0}}") ${{game.stats.projectedValue| currency:""}}
						h2.section-title.oi(data-glyph="list")
							br
							span.title Assets
						div.asset(class="type-{{asset.id}}", ng-repeat="asset in game.assets")
							span.title {{asset.name}}
							span.expiry {{asset.expiry}}
						//
							h3 Options
							div.debug-buttons(style="text-align: center;")
								label Tick Speed
								input(type="text",ng-model="tickSpeed")
								button.hotkey(ng-click="startSimulation()")
									span Start Simulation
								button.hotkey(ng-click="autoPopulateDays()")
									span Auto Populate
							h3 Debug
							dl
								dt Development
								dd {{game.stats.development}}
								dt Design
								dd {{game.stats.design}}
								dt Marketing
								dd {{game.stats.marketing}}
								dt Research
								dd {{game.stats.research}}
								dt Sales
								dd {{game.stats.sales}}
								dt Fundraising
								dd {{game.stats.fundraising}}
								dt Productivity
								dd {{game.stats.productivity}}

		div.announcements.ng-cloak
			div.announcement(class="type-{{event.id}}", ng-repeat="event in announcements")
				h2.event-title(class="type-{{event.id}}")
					span.title {{event.name}}
				div.oi(data-glyph="{{event.icon}}")
				p.description {{event.description}}
				button.confirm(ng-click="resumeSimulation()")
					span.title OK

		script(src='js/vendor/jquery/jquery.min.js')
		script(src='js/vendor/jquery/jquery-ui.min.js')
		script(src='js/vendor/angularjs/angular.min.js')
		script(src='js/vendor/angularjs/angular-route.min.js')
		script(src='js/vendor/angularjs/angular-touch.min.js')
		script(src='js/vendor/angularjs/angular-animate.min.js')
		script(src='js/vendor/angularjs/angular-dragdrop.min.js')
		script(src='js/vendor/angularjs/hotkeys.min.js')
		script(src='js/index.js')
		script.
			angular.element(document).ready( function(){
				angular.bootstrap(document, ['appModule']);
			});